.container-devices-responsive{
    background: #191919;
}

.devices-responsive{
    background: url("../../img/desktop.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
}

.devices{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Phone_responsive{
    height: 600px;
}

.Tablet_responsive{
    height: 700px; 
}

.container-devices-responsive h1{
    text-align: center;
    font-size: 180px;
    color: rgba(77, 64, 64, 0.326);
}